*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,#ba0ed1,#1009d8);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
form button{
    background-color: rgb(0, 0, 0);
    border: 3px solid #08bbe7;
    color: #08bbe7;
    height: 40px;
    width: 200px;
    margin-top: 300px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 20px;
}
.drop{
    position: relative;
}
.drop a{
    color: rgb(240, 248, 255);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    white-space: nowrap;
}
.drop{
    background-color: #0b0858;
    width: 0;
}
.drop button{
    background: linear-gradient(90deg,#1009d8,#08bbe7);
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: #0b0858;
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 20px #eef1f1;
}
.drop:hover button{
    border: 2px solid white;
    box-shadow: 1px 1px 20px white;
    color: white;
}
.drop .item{
    display: none;
    position: absolute;
    border: 2px solid rgb(9, 2, 2);
    min-width: 100px;
    margin-left: 20px;
    background-color: #01010b;
    border-radius: 10px;
    transition: all 0.5s;
}
.drop:hover .item{
    display: block;
}
.item a:hover{
    background: linear-gradient(90deg, #1009d8,#08bbe7);
    border: 2px solid white;
    border-radius: 10px;
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 1px 1px 20px white;
}
h1, form button{
    animation: rbg 10s infinite;
}
@keyframes rbg{
    0%{
        color: #0b0858;
    }
    25%{
        color: #08bbe7;
    }
    50%{
        color: #ba0ed1;
    }
    75%{
        color: #18ee00;
    }
    100%{
        color: red;
    }
}


