*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background: linear-gradient(90deg, #10a7cd, #4ce415);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background: linear-gradient(135deg, #051148, #6a097b);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.item button{
    width: 40%;
    height: 35px;
    background-color: #100632;
    margin: 20px 0px 0px 20px;
    color: #09d0dc;
    font-weight: bold;
    border: 3px solid #0d90dc;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgb(153, 148, 148);
    transition: all 0.3s;
}
.item{
    position: relative;
}
.drop a{
    display: block;
    padding: 10px 20px;
}
.item .drop{
    top: 100%;
    left:0;
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #ba16d6, #280be1);
    margin-left: 20px;
    min-width: 20px;
    border: 1px solid white;
    box-shadow: 1px 1px 20px #082b04;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s;
}

.item:hover button{
    background-color: #0c0317;
    transform: scale(1.05);
    transition: transform 0.5s linear;
}
.item:hover .drop{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
.item a:hover{
    background-color: #c612b7;
    border-radius: 10px;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    border: 2px solid white;
}
.outbut{
    width: 150px;
    height: 40px;
    background-color: #13ca2e;
    border-radius: 5px;
    border: none;
    margin: 350px 0px 0px 20px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.outbut:hover{
    background-color: #157f0a;
    border: 2px solid white;
    transition: 1s;
}